<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);"> -->
  <div class="container">
    <h1> <% current_user.email %></h1>
  </div>

  <div class="container text-center my-3">
    <a class="image-link"  href="" >
      <img src="<%= image_path("foto-usuario.png")%>">
     <%#= cl_image_tag current_user.photo %>
    </a>
    <h3> <strong>Produtos Cadastrados</</strong> </h3>


    <div class="cards-prod-vend">
      <div class="card-category-prod-user my-3">
          <div class="card-trip-infos my-1">
          <p>Produtos</p> <p style="font-size: 30px"><%= current_user.offers.count %></p>
          </div>
      </div>

      <div class="card-category-prod-user my-3">
        <div class="card-trip-infos my-1">
          <p>Potencial de Vendas</p>
           <p style="font-size: 30px"> R$  <%= current_user.offers.pluck(:price).sum %></p>
        </div>
      </div>
    </div>
  </div>

<div class="container cards my-4">
  <% current_user.offers.each do |offer| %>
  <%= link_to offer, style:"text-decoration: none" do %>
  <div>
      <div>
        <div class="card-trip">
          <%= cl_image_tag(offer.photo, width: 500, height: 500, crop: :fill) %>
          <div class="card-trip-infos">
            <div>
              <h2> <%= offer.name %> </h2>
            </div>
            <h2 class="card-trip-pricing">R$ <%= offer.price %></h2>
            <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
          </div>
        </div>
      </div>
  </div>
  <% end %>
<%end %>
</div>


