<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Crie o seu anúncio</h1>
      <%= simple_form_for @offer do |f| %>
        <div class="row">
          <div class="col-6 col-sm-4">
            <%= f.input :name %>
          </div>
          <div class="col-6 col-sm-4">
            <%= f.association :category %>
          </div>
          <div class="col-6 col-sm-4">
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
        </div>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
