<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1456735190827-d1262f71b8a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1048&q=80);">
  <div class="container text-center my-5">

    <div class="home-banner">
      <h1>App School</h1>
      <div class="typed-home">
      <h2><span id='typed'></span></h2>
      </div>
    </div>

    <!-- <div>
      <h1>App School is the  <strong> circular economy</strong> to <strong> your children school </strong>!</h1>
      <p>Try yourself and change the way you treat our planet.</p> -->

      <span>
        <%= link_to 'Cadastrar', new_offer_path, class: "btn btn-primary btn-lg mx-4 btn-home" %>
        <%= link_to 'Explorar', '#', class: "btn btn-success btn-lg btn-home" %>
      </span>


  </div>


  <div class="search-home">
    <%= form_tag offers_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input",
        placeholder: "Encontre seu produto"
      %>
      <%= submit_tag "Buscar", class: "btn btn-primary search-input-submit" %>
    <% end %>
  </div>
</div>


<div>
  <div>

  </div>
</div>


<div class="container text-center my-5 ">
  <h3>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h3>
  <p>Change your life and learn to code at one of our campuses around the world.</p>

</div>



<%###= cl_image_tag("https://res.cloudinary.com/renatojleite/image/upload/v1567009615/wtqg9yu6ick4e3yqcxag.jpg",
      width: 400, height: 300, crop: :fill) %>
  <% if params[:query].present?  %>
    <div class="text-center">
      <h3> Sua busca: <b>"<%= params[:query] %>"</b></h3>
    </div>
  <% end %>

<div class="container cards my-4">
  <% @offers.each do |offer| %>
    <%= link_to offer, style:"text-decoration: none" do %>
      <div class="card-trip-general">
        <div class="card-trip">
          <%= cl_image_tag(offer.photo, width: 500, height: 500, crop: :fill) %>
          <div class="card-trip-infos">
            <div>
              <h2> <%= offer.name %> </h2>
            </div>
            <h2 class="card-trip-pricing">R$ <%= offer.price %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <%end %>
</div>

