<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1456735190827-d1262f71b8a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1048&q=80);">
  <div class="container text-center my-5">

    <div class="home-banner">
      <h1>App School</h1>
      <div class="typed-home">
      <h2><span id='typed'></span></h2>
      </div>
    </div>

    <!-- <div>
      <h1>App School is the  <strong> circular economy</strong> to <strong> your children school </strong>!</h1>
      <p>Try yourself and change the way you treat our planet.</p> -->

      <span>
        <%= link_to 'Cadastrar Produtos', new_offer_path, class: "btn btn-primary btn-lg mx-4 btn-home" %>
        <%= link_to 'Explorar', offers_path(anchor: "value"), class: "btn btn-success btn-lg btn-home" %>
      </span>

  </div>

  <div class="search-home">
    <%= form_tag offers_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input",
        placeholder: "Encontre seu produto"
      %>
      <%= submit_tag "Buscar", class: "btn btn-primary search-input-submit" %>
    <% end %>
  </div>
</div>



<div class="menu-master">
  <div class="menu-home-category" id="menu-uniform">
      <div class="menu-categ">
          <div class="card-menu text-center pt-5">
            <h2>UNIFORMES</h2>
            <img src="<%= image_path("uniform.png") %>" alt="" class="menu-img">

            <div class="card-menu-infos">
              <div>

                <ul class="list-inline tabs-underlined">
                  <li>
                  <a href="#" class="tab-underlined active">Agasalhos</a>
                  </li>
                  <li>
                  <a href="#" class="tab-underlined">Camisetas</a>
                  </li>
                  <li>
                  <a href="#" class="tab-underlined">Bermudas</a>
                  </li>
                  <li>
                  <a href="#" class="tab-underlined">Calças</a>
                  </li>
                </ul>

              </div>
            </div>
          </div>
      </div>
  </div>

  <div class="menu-home-category">
    <div class="menu-categ">
      <div class="card-menu text-center pt-5">
        <h2>MATERIAIS</h2>
        <img src="<%= image_path("livros.png")%>" alt="" class="menu-img-livro">

        <div class="card-menu-infos">
          <div>
            <ul class="list-inline tabs-underlined">
              <li>
              <a href="#" class="tab-underlined active">1º Série</a>
              </li>
              <li>
              <a href="#" class="tab-underlined">2º Série</a>
              </li>
              <li>
              <a href="#" class="tab-underlined">3º Série</a>
              </li>
              <li>
              <a href="#" class="tab-underlined">4º Série</a>
              </li>
              <li>
              <a href="#" class="tab-underlined">5º Série</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container text-center my-5 ">
  <h1>App School</h1>
  <h3> A melhor forma de comprar ou doar seus livros e uniformes  </h3>

</div>



<%###= cl_image_tag("https://res.cloudinary.com/renatojleite/image/upload/v1567009615/wtqg9yu6ick4e3yqcxag.jpg",
      width: 400, height: 300, crop: :fill) %>
  <% if params[:query].present?  %>
    <div class="text-center">
      <h3> Sua busca: <b>"<%= params[:query] %>"</b></h3>
    </div>
  <% end %>

<a name = "value"></a>
<div class="container cards my-4">
  <% @offers.each do |offer| %>
    <%= link_to offer, style:"text-decoration: none" do %>
      <div class="card-trip-general">
        <div class="card-trip">
          <%= cl_image_tag(offer.photo, width: 500, height: 500, crop: :fill) %>
          <div class="card-trip-infos">
            <div>
              <h2> <%= offer.name %> </h2>
            </div>
            <h2 class="card-trip-pricing">R$ <%= offer.price %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <%end %>
</div>
