<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">

  </div>
</div>

<div class="container">

  <h1><%= link_to @offer.name, offer_path %></h1>
  <p> <%=  @offer.price %></p>
  <p> <%=  @offer.description %></p>

  <% if @offer.user == current_user %>
  <%= link_to "Editar produto", edit_user_offer_path, class: "btn btn-primary btn-lg"%>
  <%= link_to "Remover", offer_path(@offer), method: :delete, data: { confirm: "Confirmar a exclusão?" }, class: "btn btn-danger btn-lg" %>
  <% end %>

</div>
